<div class="tabs">
  <% div_class = "tab" %>
  <div class="tab" id="summary_tab">
    <%= link_to_remote 'Summary', :url => index_path(:type => 'summary') %>
  </div>
  <% prototype_calculations.each do |calc| %>
    <div class="tab" id="<%= "#{calc.label}_tab" %>">
      <%= link_to_remote calc.name, :url => index_path(:type => calc.label)  %>
    </div>
  <% end %>
</div>

