<% optional = session[prototype_calculation.label][:show_optional] %>
<% calculation_terms_in_table_order(prototype_calculation,optional,false).each do |term|%>
  <td></td>
<% end %>
<% prototype_calculation.outputs.visible.each do |term| %>
  <% result = calculations.send(term.label).sum rescue nil %>
  <%= show_term_tag(result,:tag => :td,:decimal_places => 2) %>
<% end %>
<td></td>