<div id="totals_page">
  <h2>Emissions Summary</h2>
<br />
<br />
<table>
  <tr>
    <th>Process</th>
    <th>Total CO2e</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @sums.each do |proto,proto_sum| %>
    <tr>
      <td><%= proto.name %></td>
      <% unless proto_sum.nil? %>
        <%= show_term_tag(proto_sum,:tag => :td,:decimal_places => 2) %>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
    </tr>
  <% end %>
  <% unless @sum.nil? %>
  <tr class="total">
    <td></td>
    <%= show_term_tag(@sum,:tag => :td,:decimal_places => 2) %>
  </tr>
  <% end %>
</table>
</div>