/* WARNING: THIS CSS FILE EXISTS IN THREE LOCATIONS: MyAMEE, explorer AND THE
   AMEE WEBSITE. IF YOU UPDATE THIS FILE, YOU MUST UPDATE ALL THREE LOCATIONS
   TO ENSURE THE THREE SITE STYLES REMAIN CONSITENT. MAKE YOUR SITE-SPECIFIC
   CHANGES IN THE OTHER, LOCALE SITE CSS FILE. */

/* DISPLAY PRODUCT NAME AS "explorer" EVERYWHERE */


span.explorer {
    font-style: italic;
}

/* SITE BODY STYLES */

body {
    margin: 0;
    padding: 0;
    background-color: White;
    font-family: Arial, sans-serif;
}

/* SITE HEADER STYLES */

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    background: White;
    height: 100px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 160%;
    color: #0B7883;
    text-shadow: 2px 2px 2px LightGray;
    font-weight: bold;
    z-index: 3;
}

#upper_header {
          height: 20px;
          padding: 5px;
          background: Gainsboro;
          position: relative;
          top: 0px;
          width: 100%;
          z-index: 1;
          vertical-align:middle;
          -moz-box-shadow: 0px 3px 7px DarkGray; 
          -webkit-box-shadow: 0px 3px 7px DarkGray;
          box-shadow: 0px 3px 7px DarkGray;
}

#header.navigation { position: fixed; top: 5px; vertical-align: middle ; font-size: 130%; font-weight: normal }

/* Links */
a { color:White; text-decoration: none; font-family:"Trebuchet MS", Helvetica, sans-serif; }
a:hover { color: DarkGray;  }
a:visited { color: #069; }

/* Navigation */
.navigation { color: White; float: right; font-size: 60%; font-family:"Trebuchet MS", Helvetica; vertical-align: middle; text-shadow: none;  }
.navigation { padding: 0 ; white-space: nowrap; }
ul.navigation { margin: 0; padding: 0px; margin-right: 12px }
.navigation li { list-style-type: none; display: inline-block; padding: 0px }
.navigation li a { text-shadow: 2px 2px 2px White; color: #0B7883; padding-right: 15px; padding-top: 0px; }
.navigation li a:visited { color: #0B7883; }
.navigation li a:hover { color: DarkGray; }

#logo {
    position: fixed;
    top: 25px;
    left: 15px;
    z-index: 1;
}

#help {
    float:right;
    width: 250px;
    position: absolute;
    right: 0px;
    padding: 20px;
    top: 0px;
    height: 500px;
    overflow-y: auto;
}

div#calculation_tabs {
   position: fixed;
   width: 100%;
   bottom: 29px;
   overflow-x: auto;
   white-space: nowrap;
}

.tabs {
  float: left;
  position: relative;
  bottom: 0px;
  width: auto;
  padding: 0;
  border-bottom: 2px solid White
}

.tabs .tab {
  float: left;
  background: #3f9d9b;
  padding: 9px 15px;
  font-size: 13px;
  margin-right: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}
.tabs .selected, .tab:hover {
  background: #c5df5e;
}
.tabs .tab a {
  color: #FFF;
  text-decoration: none;
}
.tabs .selected a, .tabs .tab a:hover, .tab:hover a {
  color: #000;
}

/* MAIN CONTENT AREA STYLES */

div#contentarea {
    font-size: 0.8em;
    clear: both;
    left: auto;
    right: auto;
    width: 1600px;
    padding: 0px;
    background-color: White;
    position: relative;
    top: 100px;
}

/* MAIN CONTENT STYLES */

h1 {
    color: #0B7883;
    font-size: 2.8em;
    margin-top: 0px;
}

h1 a {
    color: #0B7883;
}

h2 {
    color: #0B7883;
    font-size: 150%;
    margin-top: 20px;
}

h3 {
    color: #0B7883;
    font-size:100%;
}

h4 {
    font-weight: normal;
}

a img {
    border-width: 0px;
}

a {
    color: black;
}

img {
    vertical-align: middle;
}

#calculation_page {
    position: relative;
    top: 0px;
    margin-left: 5%;
    width: 95%;
}

#calculation_page h2 {
    position: relative;
    margin-left: 0%;
}

.calculation_note {
    width: 900px;
    float: left;
    position: relative;
    color: #0B7883;
    clear: both;
}

#calculation_page .links {
  width: auto;
  padding: 0;
  margin-top: 0px;
  position: relative;
  top: 20px;
  clear: left;
}

#calculation_page .links .link {
  float: left;
  white-space: nowrap;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  background: Gainsboro;
  padding: 9px 15px;
  font-size: 13px;
  margin-right: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}


#calculation_page .links .link:hover {
  background: #C8C8C8;
}
#calculation_page .links .link a {
  color: #FFF;
  text-decoration: none;
}
#calculation_page .links .link a, #calculation .links .link a:hover {
  color: #000;
}

/* TABLE STYLES */

div.table_container {
    overflow-x: auto;
    width: 1200px;
    height: auto;
    min-height: 150px;
    position: relative;
    top: 21px;
    float: left;
    clear: left;
}

table {
    width: auto;
    min-width: 1200px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    background: White;
    border-collapse: collapse;
    float: left;
    position: relative;
}

td {
    text-align: left;
    padding: 3px;
    border-top: 2px solid LightGray;
    white-space: nowrap;
    position: relative;
}

th {
    text-align: centre;
    padding:10px 8px;
    background: Gainsboro;
    white-space: nowrap;
    text-shadow: 2px 2px 2px White;
}

table tr:hover {
    color: Black;
}

/* SITE FOOTER STYLES */

div#footer {
    position: fixed;
    height: 26px;
    bottom: 0px;
    text-align: center;
    font-size: 75%; /*62.5 * 1.2 */
    padding-top: 4px;
    color: black;
    border-top: none;
    width: 100%;
    padding-left: 20px;
    background-color: #A1A4A6;
    line-height: 2em;
}

div#footer a {
    color: black;
    text-decoration: none;
}

div#footer a:hover {
    color: White;
    background-color: transparent;
    border-color: #B4B4B4;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-style: dotted;
}

/* CLEARING DIV STYLES */

div.clear {
    clear: both;
    line-height: 0;
    height: 0;
}