
body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8 ;
    font-family: Arial, sans-serif;
    overflow: auto;
}

a {
  text-decoration: none;
}

/*HEADER*/

#demo-banner a {
    color: White;
    text-shadow: none;
}

#demo-banner a:hover {
    text-decoration:underline;
}

#header {
  position: absolute;
  top: 0px;
  width: 100%;
  min-width: 960px;
  width: 100%;
  height: 0px;
  background: #F8F8F8;
  color: #0B7883;
  text-shadow: 2px 2px 2px LightGray;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#header_tabs {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 100%;
}



#demo-banner {
  position: absolute;
  top: 0px;
  left: 10px;
  font-weight: bold;
  background: #c8d828;
  padding: 5px 10px;
  font-size: 80%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  vertical-align: top;
  border-bottom: 1px solid DarkGray;
  border-right: 1px solid DarkGray;
  -moz-box-shadow: 0px 3px 7px DarkGray;
  -webkit-box-shadow: 0px 3px 7px DarkGray;
  box-shadow: 0px 3px 7px DarkGray;
}

div#contentarea {
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  position: relative;
  top: 40px;
}


/*CALCULATION HELP*/

#guide_container {
  position: fixed;
  right: 0px;
  top: 30px;
  z-index: 5;
  width: 260px;
  height: 75%;
  background: transparent;
  padding-top: 0;
}

#help_container {
  position: absolute;
  top: 2;
  right: 0;
  width: 250px;
  background: transparent;
  height: 100%;
  overflow-y: auto;
}

#help {
  position: relative;
  float: right;
  top: 0px;
}

div.note {
  margin: 10px;
  margin-top: 0;
  margin-right: 0;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background: White;
  background-image: url( '../images/cell_fill.png' );
  background-repeat: repeat-x;
  background-position: top;
  border-top: 2px solid White;
  border-bottom: 2px solid DarkGray;

  /*corners*/
  border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;

  /*shadow*/
  -moz-box-shadow: -2px 5px 10px DarkGray;
  -webkit-box-shadow: -2px 5px 10px DarkGray;
  box-shadow: -2px 5px 10px DarkGray;
}

div.note h3, div.note p {
  position: relative;
  margin-left: 20px;
  width: 90%;
  text-align: left;
  font-size: 65%;
}

div.note h3.close {
  text-align: right;
  margin-right: 40px;
}

div.note p {
  display: none;
}

div.head, div.base {
  text-shadow: 2px 2px 2px White;
  background: #F0F0F0;
}

div.base {
    position: relative;
}

div.base span#discover-link h3 {
  width: 60%;
  clear: none;
}

span#discover-logo {
  position: absolute;
  top: 15px;
  right: 20px;
  clear: none;
}

div.base h3:hover {
  text-decoration:underline;
}

/*AUTHENTICATION FORMS*/

#sign_up, #sign_in {
  position: relative;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 660px;
}

#sign_up .content_pane, #sign_in .content_pane {
    padding: 20px;
    width: 500px;
}


.form {
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 60px;
  width: 450px;
  clear: right;
}

.form table {
  float: none;
  width: 450px;
  margin-left: auto;
  margin-right: auto;

}

.form table td {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

.form table td select {
    text-align: center;
}


.form input[type='text'], .form input[type='password'] {
    text-align: left;
    width: 98%;
}

.form input[type='submit'] {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: 0px;
  padding: 5px 8px;
  background: #E0E0E0;

  /*font*/
  font-size: 10px;
  color: Black;
  text-shadow: 2px 2px 2px White;
  text-decoration: none;

  /*borders*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  white-space: nowrap;  
}

.form input[type='submit']:hover {
  background: #c8d828;
}

#admin {
  position: relative;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  
}

#admin .content_pane {
    padding: 30px;
    padding-bottom: 20px;
    width: 440px;
    margin-left: auto;
    margin-right: auto;
    
}

.content_pane #user_table {
  padding: 20px;
  position: relative;
  width: 400px;
  font-size: 10px;
}

.content_pane #user_table table {
    position: relative;
    clear: both;
    width: 400px;
}

#user_table table tr td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px dashed LightGray;
}

#user_table table a {
    color: #525252;
}

#user_table table a:hover {
    color: #3f9d9b;
}

#add_user {
    position: relative;
    background: #E0E0E0;
    padding: 7px 10px;
    font-size: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    color: Black;
    text-shadow: 2px 2px 2px White;
    text-decoration: none;
    margin-top: 20px;
    display:inline-block;
    text-align:center;

}

#add_user:hover {
    background: #c8d828;
}


div#calculation_tabs {
   position: fixed;
   bottom: 0px;
   background: transparent;
   z-index: 2;
   font-size: 10px;
   white-space: nowrap;
   overflow-x: show;
   text-align: bottom;
   width: 100%;
   height: auto;
}

#tab-wrapper {
    position: relative;
}

.tab-opacity {
    filter:alpha(opacity=40);
    opacity: 0.4;
    -moz-opacity:0.4;
}

.tabs {
   position: absolute;
   margin-bottom: 0;
   padding: 0;
   margin: auto;
   text-align: center;
   padding: 0;
   bottom: 0;
   vertical-align: bottom;
}

.tab {
  display: inline-block;
  background: #C8C8C8;
  padding: 6px 10px;
  font-size: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  white-space: nowrap;
  vertical-align: bottom;
  border-top: 1px solid White;
  border-right: 1px solid DarkGray;
  margin: 0 1px;
}

#header_tabs .tab {
  display: inline-block;
  background: #C8C8C8;
  padding: 5px 10px;
  font-size: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  white-space: nowrap;
  vertical-align: top;
  border-bottom: 1px solid DarkGray;
  border-right: 1px solid DarkGray;
  -moz-box-shadow: 0px 3px 7px DarkGray;
  -webkit-box-shadow: 0px 3px 7px DarkGray;
  box-shadow: 0px 3px 7px DarkGray;
}

#calculation_tabs .tab a {
  color: Black;
  text-shadow: 2px 2px 2px White;
  text-decoration: none;
}

#calculation_tabs .selected a {
  color: White;
  text-shadow: none;
}

#calculation_tabs .tab:hover {
   background: #c8d828;
   border-top: 1px solid White;
   -moz-box-shadow: 1px 1px 5px DarkGray;
   -webkit-box-shadow: 1px 1px 5px DarkGray;
   box-shadow: 1px 1px 5px DarkGray;
}

#calculation_tabs .selected, #calculation_tabs .selected:hover {
  color: White;
  background: #3f9d9b;
  font-weight: bold;
  border-top: 1px solid White;
  -moz-box-shadow: 1px 1px 5px DarkGray;
   -webkit-box-shadow: 1px 1px 5px DarkGray;
   box-shadow: 1px 1px 5px DarkGray;
}

#header_tabs .tab a {
  color: Black;
  text-shadow: 1px 1px 1px White;
  text-decoration: none;
}

#header_tabs .tab:hover {
   background: #c8d828;
   -moz-box-shadow: 1px -2px 5px DarkGray;
   -webkit-box-shadow: 1px -2px 5px DarkGray;
   box-shadow: 1px -2px 5px DarkGray;
   border-top: 1px solid White;
   text-shadow: none;
}

/* MAIN CONTENT AREA STYLES */



h1 {
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  text-align: center;
  color: #0B7883;
  font-size: 1.4em;
}

h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#help-page {
    width: 800px;
    top: 0px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    margin-bottom: 200px;
}

#help-page .content_pane {
    width: 740px;
    padding: 40px;
    padding-top: 30px;
}

h2.instructions {
     position: relative;
     left: 0px;
     text-align: left;
     font-size: 15px;
}

h3.instructions {
     position: relative;
     left: 0px;
     text-align: left;
     font-size: 10px;
}

/* MAIN CONTENT STYLES */

h2 {
    color: #0B7883;
    font-size: 150%;
    margin-top: 20px;
}

h3 {
    color: #0B7883;
    font-size:90%;
}

h4 {
    font-weight: normal;
}

a img {
    border-width: 0px;
}

a {
    color: black;
}

img {
    vertical-align: middle;
}

.content_pane {
    background: White;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #E0E0E0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-box-shadow: 1px 1px 15px #E0E0E0;
    -webkit-box-shadow: 1px 1px 15px #E0E0E0;
    box-shadow: 1px 1px 15px #E0E0E0;
}

#calculation_page, #totals_page {
    position: relative;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    width: auto;
    font-size: 8px;
}

#calculation_page {
  padding-bottom: 60px;
}

#totals_page {
  padding-bottom: 20px;
}

#calculation_page h2 {
    position: relative;
    margin-left: 0%;
}

#calculation_page .links, #totals_page .links {
  width: auto;
  padding: 0;
  margin-top: 0px;
  position: relative;
  top: 20px;
  clear: both;
}

#calculation_page .link, #totals_page .link {
  display: inline;
}

#table_chart_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

#table_tab_wrapper {
  position: relative;
  float: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#totals_page .links .link img {
  padding-left: 8px;
}

#totals_table {
  position: relative;
  top: 22px;
}

#calculation_page .links .link, #totals_page .links .link {
  float: left;
  white-space: nowrap;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  background: Gainsboro;
  padding: 8px 10px;
  font-size: 10px;
  margin-right: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

#calculation_page .links .link:hover, #totals_page .links .link:hover {
  background: #C8C8C8;
}
#calculation_page .links .link a, #totals_page .links .link a {
  color: #FFF;
  text-decoration: none;
}
#calculation_page .links .link a, #totals_page .links .link a:hover {
  color: #000;
}

#generic-loading {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    background: #E8E8E8;
    filter:alpha(opacity=40);
    opacity: 0.4;
    -moz-opacity:0.4;
    
}

#generic-loading img {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
}

div#table_container {
    overflow-x: auto;
    height: auto;
    min-height: 150px;
    max-width: 1480px;
    position: relative;
    top: 22px;
    padding-bottom: 15px;
    margin-bottom: 40px;
    clear: both;
}

#table-base-nav {
    position: absolute;
    bottom: 30px;
}

div#table-base-nav span#add-calc {
    float: left;
}

div#table-base-nav span img {
    padding-left: 6px;
}

div#table-base-nav span {
  padding: 5px 8px;
  background: #E0E0E0;

  /*font*/
  font-size: 10px;
  color: Black;
  text-shadow: 2px 2px 2px White;
  text-decoration: none;

  /*borders*/
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  white-space: nowrap;
}

div#table-base-nav span:hover {
     background: #c8d828;
}

table {
    width: auto;
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    background: White;
    float: left;
    position: relative;
    border-spacing: 0px;
}

tr.total td, tr#totals td {
    font-weight: bold;
    font-size: 170%;
    color:  #0B7883;
    border: none;
}

td {
    text-align: right;
    padding: 3px;
    padding-right: 8px;
    white-space: nowrap;
    position: relative;
    background-color: White;
    font-size: 140%;
    color: #525252;
    vertical-align: middle;
    width: auto;
    border-bottom: 1px dashed LightGray;/*#F0F0F0;*/
    border-left: 1px dashed LightGray;
    border-color: LightGray;
    border-left-width: 1px;
    border-left-style: dashed;
}

td.calc-name {
  text-align: left;
  padding-left: 10px;
}

td.amee-drill:hover, td.amee-drill:focus, td.amee-profile:hover, td.amee-drill:focus, td.amee-metadatum:hover, td.amee-metadatum:focus {
    background: #F0F0F0;
}

td.amee-output {
    color: #525252;
    min-width: 140px;
}

td.amee-output:hover {
    background: White;
}

td.term-value, td.term-unit {
    text-align: right;
}

td select.amee-drill {
    text-align: left;
}

td select.term-unit {
    text-align: center;
}

td select.term-per_unit {
    text-align: center;
}

td select, input {
    border: 1px solid White;
    background-color: transparent;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #525252;
    vertical-align: middle;
    text-align: right;
    padding-right: 5px;
    font-size: 100%;
    width: auto;
    display:inline;

}

td input {
    min-width: 130px;
}

td select:focus, input:focus {
    background: White;
}

td select:hover, input:hover {
    color: inherit;
}

#totals_table a {
    color: #3f9d9b;/*#525252;*/
    font-weight: bold;
}

#totals_table a:hover {
    color: #3f9d9b;
    text-decoration: underline;
}

#totals_table td {
    width: auto;
    min-width: 50px;
    font-size: 160%;
    height: 20px;
    padding-right: 8px;
    padding-left: 5px;
    color: #525252;
}

th {
    text-align: center;
    vertical-align: bottom;
    padding: 10px 8px;
    background: Gainsboro;
    text-shadow: 2px 2px 2px White;
    font-size: 130%;
    font-weight: normal;
    border: none;
}

span.sort-buttons {
    white-space: nowrap;  
}

td.delete, th.delete {
    border-left: 1px dashed LightGray;
    border-bottom: none;
    background: White;
    padding-left: 4px;
    padding-right: 4px;
    width: 10px;
}

th.delete {
  border: none;
}

table tr:hover {
    color: Black;
    background: LightGray;
}

/* CLEARING DIV STYLES */

div.clear {
    clear: both;
    line-height: 0;
    height: 0;
}

#chart_container {
    position: relative;
    width: 250px;
    top: 10px;
    font-size: 150%;
    height: auto;
}


#chart_banner {
    position: relative;
    margin-top: 0px;
    max-height: 20px;
}

#chart-wrapper {
    position: relative;
    margin-top: 20px;
    height: 300px;
}


#empty_chart_banner {
    position: relative;
    max-height: 50px;
}

#amee-strap {
  position: absolute;
  bottom: -55px;
  left: 10px;
  padding-top:30px;
}

#amee-strap-big {
  position: relative;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#feedback {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#feedback .content_pane {
    padding: 30px;
}

#feedback-form-wrapper {
    position: relative;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}