<script type="text/javascript">
  var hider = 0;
</script>
<div id="header">
  <div id="multisitenav">
    <div id="menu">
      <ul>
        <li><img width="1" height="12" alt="|" src="http://www2.amee.com/wp-content/themes/amee2/images/sitedivider.gif"/></li>
        <li class="menuitem"><a href="http://www.amee.com">About AMEE</a></li>
        <li><img width="1" height="12" alt="|" src="http://www2.amee.com/wp-content/themes/amee2/images/sitedivider.gif"/></li>
        <li class="menuitem"><a class="currentsite" href="http://explorer.amee.com">AMEE <span class="explorer">explorer</span></a></li>
        <li><img width="1" height="12" alt="|" src="http://www2.amee.com/wp-content/themes/amee2/images/sitedivider.gif"/></li>
        <li class="menuitem"><a href="http://my.amee.com/developers">Developer Center</a></li>
        <li><img width="1" height="12" alt="|" src="http://www2.amee.com/wp-content/themes/amee2/images/sitedivider.gif"/></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div id="contentarea">