<div id="header">
  <span id="logo">
    <% logo = image_tag "AMEE-bug-ref_125x125.png", :alt => 'AMEE logo' %>
    <%= link_to logo, root_path %>
    Greenhouse Gas Protocol | Aluminium Sector Tools
  </span>
  <ul class="navigation">
    <li><a href="http://www.amee.com">about AMEE</a></li>
    <li><a href="http://explorer.amee.com">AMEE <span class="explorer">explorer</span></a></li>
    <li><a href="http://my.amee.com/developers">developer Center</a></li>
  </ul>
</div>

<div id="contentarea">