<div id="header">
  <div id="multisitenav">
    <div id="menu">
      <ul>
        <li class="menuitem"><a href="http://www.amee.com">About AMEE</a></li>
        <li class="menuitem"><a href="http://explorer.amee.com">AMEE <span class="explorer">explorer</span></a></li>
        <li class="menuitem"><a href="http://my.amee.com/developers">Developer Center</a></li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
  <div id="calculation_tabs">
    <%= render 'tabs', :prototype_calculations => @prototype_calculations %>
  </div>
</div>

<div id="contentarea">